<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/front.css' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
     <a href="/"><span>home</span></a>
    </div>
    {{{body}}}

  </body>
</html>
