<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
  <div class="row">
     <div class="col-6">
        <form method="post" action="admin/createCategory">
          <div class="form-group">
            <label for="post_category">Create a category</label>
            <input name="post_category" type="text" class="form-control" id="post_category" aria-describedby="post_category">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      <div class="col-6">
        {{# each content }}
          <h2>{{ post_category }}</h2>
        {{/each}}
      </div>
  </div>
</div>
