<h1 class="text-center">{{title}}</h1>
<a href="/admin" class="center btn btn-primary btn-lg active mb-3" role="button" aria-pressed="true">&laquo; Previous</a>
{{#content }}
<h2>{{ title }}</h2>
{{/content }}
